/* css for nav bar */
.container-fluid
    {
      height: 80px;
      background-color: black;
      display: flex;
      position: fixed;
    }
    .logo
    {
      width: 20%; 
      padding: 10px;
    }
    .logo h1
    {
      color: white;
      padding: 5px;
    }
    .menu 
    {
      height: 100%;
      width: 80%;
    }
    .menu ul
    {
      list-style-type: none;
    }
    .menu ul li
    {
      text-decoration: none;
      margin-top: 12px;
      display: inline-block;
      padding: 10px;
    }
    .menu ul li a
    {
      color: white;
      text-decoration: none;
    }
    .menu ul li a:hover
    {
      color: red;
    }